In [1]:
#cheat sheet
import numpy as np
import pandas as pd

In [57]:
data = pd.read_excel("data.xlsx")
data2 = pd.read_csv("test.csv")
data.describe()

                AT            V           AP           RH           PE
count  9568.000000  9568.000000  9568.000000  9568.000000  9568.000000
mean     19.651231    54.305804  1013.259078    73.308978   454.365009
std       7.452473    12.707893     5.938784    14.600269    17.066995
min       1.810000    25.360000   992.890000    25.560000   420.260000
25%      13.510000    41.740000  1009.100000    63.327500   439.750000
50%      20.345000    52.080000  1012.940000    74.975000   451.550000
75%      25.720000    66.540000  1017.260000    84.830000   468.430000
max      37.110000    81.560000  1033.300000   100.160000   495.760000

In [61]:
data2.describe()
data2.columns = data.columns[:-1]

In [71]:
c = 0
for i in range(len(data2.AP)):
    if data2.AP[i] == data.AP[i]:
        print(data.AP[i])
print(c)

1011.4
1017.76
0

In [17]:
dat = np.loadtxt("test.csv", delimiter=",")

In [43]:
result = np.array(data.PE)
result.shape

(9568,)

In [53]:
arr2 = dat[:,0]
len(arr2)

2392

In [48]:
arr1 = np.array(data.AT)
arr1

array([14.96, 25.18,  5.11, ..., 31.32, 24.48, 21.6 ])

In [32]:
data.shape

(9568, 5)

In [44]:
c = []
for i in range(len(arr2)):
    if arr2[i] == arr1[i]:
        c.append(result[i])

In [46]:
r = np.array(c)

In [52]:
r

array([455.28, 469.71, 450.54])