In [26]:
import numpy as np
import pandas as pd

In [27]:
train = np.genfromtxt("/home/sumit/Documents/MachineLearningCodes/Diabetes/train.csv",delimiter= ",")
test = np.genfromtxt("/home/sumit/Documents/MachineLearningCodes/Diabetes/test.csv",delimiter= ",")
train_data = pd.read_csv("/home/sumit/Documents/MachineLearningCodes/Diabetes/train.csv")
test_data = pd.read_csv("/home/sumit/Documents/MachineLearningCodes/Diabetes/test.csv")

In [28]:
train_data.head()

,# age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Y
0,-0.049105,-0.044642,0.160855,-0.046985,-0.029088,-0.019790,-0.047082,0.034309,0.028017,0.011349,346.0
1,-0.070900,0.050680,-0.089197,-0.074528,-0.042848,-0.025739,-0.032356,-0.002592,-0.012908,-0.054925,104.0
2,0.001751,-0.044642,-0.070875,-0.022885,-0.001569,-0.001001,0.026550,-0.039493,-0.022512,0.007207,49.0
3,0.048974,0.050680,0.081097,0.021872,0.043837,0.064134,-0.054446,0.071210,0.032433,0.048628,180.0
4,0.041708,0.050680,0.061696,-0.040099,-0.013953,0.006202,-0.028674,-0.002592,-0.014956,0.011349,110.0

In [14]:
# using numpy
X = train[:,:10]
Y = train[:,10]
X_test = test

(111, 10)

In [17]:
from sklearn import preprocessing
scaler =preprocessing.StandardScaler()
scaler.fit(X)
X_test = scaler.transform(X_test)

In [29]:
#using pandas
X = train_data.iloc[:,:10]
Y = train_data.iloc[:,10]
X_test = test

In [30]:
from sklearn import model_selection
xtrain, xtest, ytrain, ytest = model_selection.train_test_split(X,Y)

In [31]:
from sklearn.linear_model import LinearRegression
alg1 = LinearRegression()
alg1.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [32]:
alg1.score(xtest,ytest)

0.4232365512253309

In [33]:
Y_pred = alg1.predict(X_test)

In [34]:
Y = np.around(Y_pred,decimals=5)

In [35]:
np.savetxt("prediction.csv",Y,delimiter=",")