## Intro to Jupyter 
we can writemarkdown or python code in our cels. you can choose accordingly in the dropdown

In [16]:
#print fucntion
a = 10
print(a,end=" ")
print(12)

10 12

In [7]:
#last line is output
a = 10
a + 201

30

In [24]:
#var and type of number
a = 12
b =10
c = 1 + 2j
print(type(a),type(a),type(c))

<class 'int'> <class 'int'> <class 'complex'>

In [28]:
# operators
d = a + c
print(d)
print(a - b)
print(a / b)
print(a//b)
print(a**b)
print(a % b)

(13+2j)
2
1.2
1
61917364224
2

In [29]:
# string
a ="this is a string"
print(a)

this is a string

In [39]:
# typical string properties:
print(len(a))
print(type(a))
print(a[0])

#strings are immutable
#a[0] "aa" invalid
a = "asdf" #valid as we are not changing the string
b = "jkl"
c = a + b
print(c)
#can't do like d = a + 2
#no characters
print(type('s'))

4
<class 'str'>
a
asdfjkl
<class 'str'>

In [47]:
# few functions that we can call
a = "Abc"
print(a.upper())
print(a)
print(a.lower())
b = "  abcd  "
print(b.strip())
print(b.isalpha())
print(b)
b = b.strip()
print(a.isalpha())
print(b.isalpha())

ABC
Abc
abc
abcd
False
  abcd
True
True

In [52]:
# user input
a = input()
print(a)

# input func return a string
print(type(a))
a = int(input())
print(a)
print(type(a))

12
12
<class 'str'>
12
12
<class 'int'>

In [53]:
a b c = 1000 2000 3000

SyntaxError: invalid syntax (<ipython-input-53-fd5f99168ec0>, line 1)

In [58]:
abc = 1,000,000
a,b,c = 1000, 2000, 3000
a_b_c = 1,000,000

In [60]:
s = "abcd"
print(s + 12)

TypeError: can only concatenate str (not "int") to str

In [76]:
# slicing

s = "abcghhgf"
print(s[0])
print(s[-1])
print(s[-3:-1])
print(s[4:])
print(s[:])
print(s[-1:-5:-1])

a
f
hg
hhgf
abcghhgf
fghh

In [80]:
print("abcd"[2:])
str1 = 'hello'
print(str1[-1:])
s = "abcdefghi"
print(s[-3:-1])

cd
o
gh

In [88]:
# tuples

t = (1,2,3)
print(type(t))
print(t[1])
t = (1,"2sdf",2.3)

# tuples are also immutable
# t[1] = "12" #invalid

# slicing works on tuples
print(t[0:2])

<class 'tuple'>
2
(1, '2sdf')

In [93]:
# operators on tuples
t = (1,2)
k = ("d",1)
print(t+k)
print(t*2)
print(1 in t)
print(2 in k)

(1, 2, 'd', 1)
(1, 2, 1, 2)
True
False

In [94]:
t=(1,2,4,3)
t[1:3]

(2, 4)

## Conditionals & Loops

In [2]:
# boolean datatype

a = True

b = False
type(a)

bool

In [5]:
# Relational operators

x = 10
y = 20
print(x>y)
print(x >= y)
print(x<y)
print(x==y)
print(x!=y)

False
False
True
False
True

In [8]:
# Logical operators
x = 10
y = 20
z = 30
print(x > y and x > z)
print(x < y or x < z)

False
True

In [10]:
# if else 
if x > y:
    print(x)
else:
    print(y)

20

In [11]:
 if (10 < 0) and (0 < -10):
     print("A")
 elif (10 > 0) or False:
     print("B")
 else:
    print("C")

B

In [14]:
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
       print('B')
    else:
        print('C')
else:
     print('D')

B

In [19]:
#loops 
    # while loop
n = int(input())
i = 1
while i<=n:
    print(i,end=" ")
    i+=1
print("done")

4
1 2 3 4 done

In [21]:
# for loop
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [22]:
# prime number
n = int(input())
prime = True
for i in range(2,n):
    if n%i == 0:
        prime = False
        break;
if prime:
    print("Prime")
else:
    print("not Prime")

7
Prime

In [24]:
# fast iterations
n = "abcd"
for c in n:
    print(c)
t = (1,"sdf",[1,2,3])
for i in t:
    print(i)

a
b
c
d
1
sdf
[1, 2, 3]

In [25]:
i = 0
while i < 3:
    print(i, end=" ")
    i += 1

0 1 2

In [28]:
a = 3
for i in range(a):
    print(a)
    a +=1

3
4
5

In [29]:
x = 'abcd'
for i in x:
     print(i, end = " ")
     x.upper()

a b c d

In [30]:
x = 'abcd'
for i in range(len(x)):
   print(x)
   x = 'a'

abcd
a
a
a

In [60]:
a = "wertdedfrgt"
print(a[-1::-1])

tgrfdedtrew

In [68]:
# function
def sum(a, b):
    z = a+b
    return z

x = 20
y = 10
print(sum(x,y))

30

In [74]:
#default arguments
def power(x,y =2):
    return x**y
n = 10
e = 4
power(12)

144

In [80]:
def sum3(a , b = 1,c = 2):
    return a + b + c
print(sum3(a = 10))

13

In [87]:
# variable size input and output
#input
def sum_variable(a, b, *more):
    sum = a + b
    for i in more:
        sum += i
    return sum
sum_variable(10,23,34,1)

68

In [88]:
# return more than 1 value
def dummy(a, b):
    return a + b, a - b
print(dummy(10,12))
sum1, diffrence = dummy(10,12)
print(sum1,diffrence)

(22, -2)
22 -2

In [90]:
def printMax(a, b):
    if a > b:
       print(a, ' is maximum')
    elif a == b:
       print(a,  'is equal to', b)
    else:
      print(b, ' is maximum')
printMax(3, 4)

4  is maximum

In [91]:
x = 50
def change(x):
     x = 2
change(x)
print(x)

50

In [92]:
def power(x, y=2):
      ans = 1
      for i in range(y):
          ans = ans * x
      return ans
print(power(3), end=" ")
print(power(3,3))

9 27

## Lists

In [9]:
a = [1,2,3]
print(type(a))
a1 = list()
print(a1)
a2 = list(a)
print(a2)
a3 = [ i for i in range(10)]

a4 = [1,2,"as",True]
a4

<class 'list'>
[]
[1, 2, 3]

[1, 2, 'as', True]

In [10]:
l = [i for i in input().strip().split()]
l

 12 23 2

['12', '23', '2']

In [12]:
l = list("hello")
len(l)

5

In [36]:
# add elements in list
l = [1,"wee",3]
l.append(2)
print(l)
l.insert(1,"as")
print(l)
l.extend([1,2,3])
print(l)

[1, 'wee', 3, 2]
[1, 'as', 'wee', 3, 2]
[1, 'as', 'wee', 3, 2, 1, 2, 3]

In [37]:
# deleting elements
l.pop() #remove last element
print(l)
l.pop(2) #remove element at pos 2
print(l)
l.remove(3) #remove a particular element
print(l)

[1, 'as', 'wee', 3, 2, 1, 2]
[1, 'as', 3, 2, 1, 2]
[1, 'as', 2, 1, 2]

In [34]:
del l[0:2]
print(l)

['wee', 3, 2, 1, 2, 3]

In [39]:
l + l
# we can't add int to list
# multiplication with list is fine

[1, 'as', 2, 1, 2, 1, 'as', 2, 1, 2]

In [44]:
l = [2,3,4,6,1,5,9]
l.sort()
print(l)
print(l.count(2))
print(l.index(4))
l.reverse()
print(l)
print(3 in l)

[1, 2, 3, 4, 5, 6, 9]
1
3
[9, 6, 5, 4, 3, 2, 1]
True

In [45]:
aList = [123, 'xyz', 'zara', 'abc']
print(aList.pop())

abc

## Dictionary

In [20]:
# key value
d = {}
d[23] = 34
d["str"] = 345
print(d)
d = {23:"efr","ert":222,33:"frgtrfedfr"}
print(d)
d[23] = 345
print(d)

{23: 34, 'str': 345}
{23: 'efr', 'ert': 222, 33: 'frgtrfedfr'}
{23: 345, 'ert': 222, 33: 'frgtrfedfr'}

In [21]:
#keys are immutable
# strinig, int, float, tuple but not list  or dictionary
for i in d:
    print(i,":",end="")
    print(d[i])

23 :345
ert :222
33 :frgtrfedfr

In [11]:
del d[23]

In [23]:
d1 = {}
d2 = {}
print(d1 == d2)
d1[2] = 1
print(d1 == d2)
print(len(d1))
d1.clear()
print(d1)
print(d.keys())
print(23 in d2)

True
False
1
{}
dict_keys([23, 'ert', 33])
False

In [25]:
d1 = {"john":40, "peter":45}
d2 = {"john":466, "peter":45}
d1 == d2

False

## 2D Lists

In [28]:
l =[[1,2,3],[4,5,6]]
print(l)
print(l[0])
print(l[0][1])

[[1, 2, 3], [4, 5, 6]]
[1, 2, 3]
2

In [31]:
l2D = [[0,0,0] for i in range(10)]
l2D1 = [[5*i + j for j in range(5)] for i in range(10)]
l2D1

[[0, 1, 2, 3, 4],
 [5, 6, 7, 8, 9],
 [10, 11, 12, 13, 14],
 [15, 16, 17, 18, 19],
 [20, 21, 22, 23, 24],
 [25, 26, 27, 28, 29],
 [30, 31, 32, 33, 34],
 [35, 36, 37, 38, 39],
 [40, 41, 42, 43, 44],
 [45, 46, 47, 48, 49]]

In [ ]:
hgcv